{{ define "style-tags" }}
{{ end }}

{{ define "script-tags" }}
{{ end }}

{{ define "custom-elements" }}
{{ end }}

{{ define "content" }}

<div class="info-container">
  <div>
    <h1 class="title">Moreaity's File-Sharing Platform</h1>

    <article class="message is-info" style="max-width: 70ch">
      <div class="message-header">
        <p>文件分享</p>
      </div>
      <div class="message-body">
        <p>
          A service for sharing images, videos, and other files.
        </p>
        <ul>
          <li>Contact Me: <a href="mailto:imroccoshi@gmail.com">imroccoshi@gmail.com</a></li>
        </ul>
      </div>
    </article>
  </div>
</div>

{{ end }}

{{ template "base.html" }}